---
import TestimonialCard from "./TestimonialCard.astro";
const testimonialData = [
  {
    name: "Andrew Marcovitch",
    from: "Vice-President, O'Neill Canada",
    message: "We're so lucky to have worked with Andrew to complete a major overhaul of our ecommerce website. Not only was the work executed flawlessly, Andrew built on our vision and offered perspective and solutions we never could have arrived at on our own. His ability to handle both the design and code execution of our project is a major reason Andrew stands out from other designers. With Andrew you can expect honesty, integrity and dedication to the project. For the few months we worked together on the project, Andrew was in constant communication and it felt like he was really a member of our internal team. We've seen a tremendous return on investment from Andrew's work and we look forward to working with Andrew again on all our design and development needs at O'Neill."
  },
  {
    name: "Valerie Savard",
    from: "Revue Moebius",
    message:
      "Notre expérience avec Andrew a été au-delà de nos attentes. Nous avons trouvé en lui quelqu’un de très sensible à nos désirs et besoins, quelqu’un avec un regard artistique développé, qu’il sait mettre au profit de la vision du client. Plus encore, M. Nowacki a su faire valoir son expertise et son expérience pour adapter nos demandes aux contraintes du Web. Nous avons pu compter sur un suivi constant, un dialogue ouvert et un plan de travail clair et respecté. Pour chaque besoin particulier que nous exprimions, M. Nowacki nous proposait de multiples solutions, certaines sortant des sentiers battus, pour nous accommoder au mieux. Depuis son lancement en septembre 2022, le nombre de consultations du site a augmenté considérablement, le nombre de ventes effectuées à partir du site a doublé, et nous avons accordé plusieurs entrevues au sujet de l’intégration des œuvres de littérature hypermédiatique, entre pour le Carnet de la Fabrique du numérique, qui offre une veille sur les nouveautés dans le monde de l’édition littéraire et scientifique en contexte numérique. La création de zéro d’un nouveau site nous semblait, au départ, un chantier énorme. Néanmoins, le talent, les connaissances, la créativité, la patience et la fiabilité de M. Nowacki ont rendu cette expérience enrichissante, et nous ne pourrions être plus satisfait·e·s de notre site Web et de sa réception par le public.",
    translation:
      "Our experience with Andrew exceeded our expectations. We found in him someone very attuned to our desires and needs, someone with a developed artistic perspective that he skillfully applies to the client's vision. Furthermore, Mr. Nowacki was able to leverage his expertise and experience to tailor our requests to the constraints of the web. We could rely on constant follow-up, open dialogue, and a clear and respected work plan. For every specific need we expressed, Mr. Nowacki proposed multiple solutions, some of which were unconventional, to best accommodate us. Since its launch in September 2022, the number of site visits has significantly increased, the number of sales made through the site has doubled, and we have given several interviews regarding the integration of hypermedia literary works for the Carnet de la Fabrique du numérique, which provides updates on innovations in the digital literary and scientific publishing world. Initially, the idea of creating a new website from scratch seemed like a massive undertaking. However, Mr. Nowacki's talent, knowledge, creativity, patience, and reliability made this experience enriching, and we couldn't be more satisfied with our website and its reception by the public.",
  },
  {
    name: "MH (Assistant Director #1)",
    from: "Exposé Noir",
    message:
      "Andrew is a true professional who was great at understanding our particular needs and finding solutions to make sure we were fully satisfied with our website. He is highly responsive, even while on the road, and always a pleasure to work with. You won't be disappointed by his results.",
  },
  {
    name: "MA (Assistant Director #2)",
    from: "Exposé Noir",
    message:
      "We couldn’t have asked for a better experience. Andrew is distinctly capable at what he does and thoroughly attentive to every detail discussed. He shared his time around the clock with us to realize precisely the website we had envisioned, making reality of what was an abstract idea in our minds. He swiftly responds to any adjustments that come up and has proactively shared new tools relevant to our website. Thank you for your exceptional service, Andrew.",
  },
  {
    name: "Danilo Flores",
    from: "Mimotype Technologies GmbH",
    message:
      "Andrew brings an artisanal outlook and an uncompromising professionalism to the table. He created a website for our company, fully hitting the mark in terms of aesthetics and functionality. Working seamlessly together with another contractor, Andrew gracefully orchestrated the maturation of the end product among multiple parties. We enjoyed our spirited exchanges and are looking forward to doing business again, having full trust in his ability and diligence!",
  },
];

const length = testimonialData.length;
---

<div class="testimonial-wrapper">
  <div class="testimonial-inner">
    <div class="header">
      <h3 data-length={length}>Friendly Notes</h3>
    </div>
    <div class="notes" data-lenis-prevent>
      {
        testimonialData.map((note, index) => {
          return <TestimonialCard note={note} index={index} />;
        })
      }
    </div>
  </div>
</div>

<style lang="scss">
  .testimonial-wrapper {
    background: var(--white);
    height: 100%;
    position: relative;
  }
  .testimonial-inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 5rem 0;
    padding-top: 1rem;
    overflow: hidden;
    position: relative;
  }
  .header {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 5%;
    padding-top: 3rem;
    background-color: #ffffff20;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    border-bottom: 2px solid var(--grey-100);

    h3 {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    h3:before {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      content: attr(data-length);
      color: var(--white);
      background: #f42152;
      border-radius: 100%;
      margin-right: 1.5rem;
      margin-bottom: 0.25rem;
      aspect-ratio: 1/1;
      width: 47px;
      height: 47px;
      font-size: 20px;
    }
  }
  .notes {
    width: 90%;
    margin: 2rem auto;
    margin-top: 0rem;
    padding-bottom: 5rem;
    overflow: auto;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    user-select: none;

    &::after {
      bottom: 0;
      left: 0;
      position: absolute;
      content: "";
      width: 100%;
      height: 3rem;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.75) 49.48%,
        #fff 100%,
        #fff 100%
      );
    }
  }

  @media (max-width: 992px) {
    .testimonial-wrapper {
      margin-bottom: 1rem;
    }
  }
  @media (max-width: 576px) {
    .testimonial-inner {
      padding: 2rem 0;
    }
    .header {
      padding: 2rem 0.5rem;
      padding-bottom: 1rem;
      -webkit-backdrop-filter: unset;
      backdrop-filter: unset;
      background: var(--white);

      h3:before {
        font-size: 14px;
        width: 30px;
        height: 30px;
        margin-right: 1rem;
      }
    }
    .notes {
      margin-top: 0rem;
      padding-bottom: 1rem;
    }
  }
</style>
