---
import Layout from "../../layouts/BaseLayout.astro";
import MapAlbumArt from "../../components/play/MapAlbumArt.astro";

const ArtworkData = [
  {
    artist: "Azelie",
    title: "Lark",
    bio: "Azelie was the artist's great-grandmother's name (5'2 stalwart of a woman from a little town called Shawinigan, QC). She wears the name with homage, nostalgia and wonderment, all of which are translated in her musical projects. Her latest album Lark, marries poetic lyrics with intimate and earnest melodies.",
    link: "https://open.spotify.com/album/2lCdB3EBhQeRH3AxNKsxlQ?si=xAnDGEeiQZKsBykNt6X-oA",
    image: [{ src: "/play/album-artwork/lark/lark.png" }],
  },
  {
    artist: "Paul Drafts",
    title: "Outdoor Research",
    bio: "Outdoor Research is a debut project by Paul Drafts. The project is unashamedly genre-agnostic, cleverly referencing a myriad of musical styles and epochs, from gentle cascading harmonics of japanese artists such as Rei Harakami to the gritty beat structures of UK grime and drill.",
    link: "https://open.spotify.com/album/4e0onbp8UDcPPLx5edAr58?si=zER8TYiRTJmVlZK-zP2CkQ",
    image: [{ src: "/play/album-artwork/outdoorresearch/OR.png" }],
  },
  {
    artist: "Weishaupt",
    title: "Murderer",
    bio: "Weishaupt is a side-project alias created by D'Eon (Signed to Hippos in Tanks, among the likes of Arca, Grimes, James Ferraro & Dean Blunt). The project features beautifully melodic arpegios with cynical undertones, making for a deeply hypnotizing and introspective listen.",
    image: [{ src: "/play/album-artwork/weishaupt/cover.jpg" }],
  },
  {
    artist: "Various Artists",
    title: "Pandemic Artifact",
    bio: "Pandemic Artifact is an effort by fifteen Montreal artists who united and dedicated weeks to putting together an electronic music compilation. At the time of its conception, the end of Covid-19 was unforeseeable. Once the virus inevitably subsides, this compilation will be a distant memory; an artifact of this pandemic. \n\nRepresentative of the diversity in Montreal's underground music community, this compilation is an overview of the wide spectrum in which electronic music exists; featuring ambient tracks, UK Garage, House, and much more.",
    link: "https://open.spotify.com/album/4e0onbp8UDcPPLx5edAr58?si=zER8TYiRTJmVlZK-zP2CkQ",
    image: [{ src: "/play/album-artwork/pandemicartifact/cover.png" }],
  },
  {
    artist: "Deucefade",
    title: "TWBB (Paul Drafts remix)",
    bio: "Single, 2020",
    link: "https://soundcloud.com/pauldrafts/twbb",
    image: [
      { src: "/play/album-artwork/deucefade/cover.png" },
      { src: "/play/album-artwork/deucefade/deucefade.gif" },
    ],
  },
  {
    artist: "Mark Pritchard",
    title: "Be Like Water",
    bio: "Unofficial covers for Mark Pritchard's 2020 single. The images were created by photographing a print frozen in ice, alluding to the Eski-boy tonality and grime roots of the song.",
    link: "https://www.youtube.com/watch?v=fmedgMa4luU",
    image: [
      { src: "/play/album-artwork/markpritchard/1.png" },
      { src: "/play/album-artwork/markpritchard/2.jpg" },
      { src: "/play/album-artwork/markpritchard/3.jpg" },
    ],
  },
  {
    artist: "Audio Bambino",
    title: "Femmexy - Massacre Mix",
    bio: "A neck-breaking mix that features multiple tracks from Audio Bambino, a Y2K focused label. Lots of exciting material here: refreshing club experimentation, hardcore trance, ominous bootlegs, and witch house abound.",
    link: "https://soundcloud.com/audiobambino/annual-halloween-massacre-mix",
    image: [{ src: "/play/album-artwork/audiobambino/cover.jpg" }],
  },
  {
    artist: "Untitled",
    title: "Untitled white labels",
    bio: "Various sketches & project drafts.",
    image: [
      { src: "/play/album-artwork/whitelabels/whitelabel1.png" },
      { src: "/play/album-artwork/whitelabels/whitelabel2.png" },
      { src: "/play/album-artwork/whitelabels/whitelabel3.png" },
      { src: "/play/album-artwork/whitelabels/whitelabel4.png" },
      { src: "/play/album-artwork/whitelabels/whitelabel5.png" },
      { src: "/play/album-artwork/whitelabels/whitelabel6.png" },
      { src: "/play/album-artwork/whitelabels/whitelabel7.png" },
      { src: "/play/album-artwork/whitelabels/whitelabel8.png" },
    ],
  },
];
---

<Layout>
  <div class="wrapper">
    <div class="inner">
      <header class="header">
        <h4>Album Artwork</h4>
      </header>
      {
        ArtworkData.map((album, idx) => {
          return <MapAlbumArt data={album} key={idx} />;
        })
      }
    </div>
  </div>
</Layout>

<style lang="scss">
  .wrapper {
    background: var(--grey-100);
  }
  .inner {
    width: var(--play-width);
    margin: 0 auto;
    padding: 1.25rem 0;
    padding-bottom: 5rem;
  }

  .header {
    width: 80%;
    background: var(--white);
    border-radius: var(--border-xl);
    text-align: center;
    margin: 1.25rem auto;
    padding: 2rem 4rem;

    h4 {
      color: var(--grey-300);
      letter-spacing: -0.03rem;
    }
  }

  @media (max-width: 768px) {
    .header {
      border-radius: 60px;
    }
  }
</style>
