---
import Layout from "../../layouts/BaseLayout.astro";
import { Image } from "@astrojs/image/components";

const projectData = [
  {
    name: "Album Artwork",
    slug: "album-artwork",
    imageSrc: "/assets/play/album-artwork/thumbnail.png",
  },
  {
    name: "Photography",
    slug: "photography",
    imageSrc: "/assets/play/photography/thumbnail.png",
  },
  {
    name: "Generative Artwork",
    slug: "generative",
    imageSrc: "/assets/play/generative/thumbnail.png",
  },
  {
    name: "Additional Projects",
    slug: "other",
    imageSrc: "/assets/play/other/thumbnail.png",
  },
];
---

<Layout>
  <div class="page-wrapper">
    <div class="heading">
      <h2 id="heading">
        This section is reserved for work I've created when not working on web
        development projects.
      </h2>
    </div>
    <div class="content">
      {
        projectData.map((project) => {
          return (
            <div class="content-item">
              <div class="image-wrapper canvas-wrapper">
                <a
                  href={`/play/${project.slug}`}
                  class="canvas-container"
                  data-texture={project.imageSrc}
                >
                  <canvas class="image-bulge-scene" />
                </a>
              </div>
              <h4>{project.name}</h4>
            </div>
          );
        })
      }
    </div>
  </div>
</Layout>

<script>
  import { animate } from "motion";
  const heading = document.getElementById("heading");
  animate(
    heading,
    {
      transform: "translateY(0px)",
      opacity: 1,
    },
    {
      delay: 0.5,
      duration: 0.5,
    }
  );
</script>

<style lang="scss">
  #heading {
    transform: translateY(-150px);
    opacity: 0;
  }
  .page-wrapper {
    background: var(--grey-100);
  }
  .heading {
    width: var(--project-width);
    margin: 0 auto;
    h2 {
      padding: 3.5rem 0;
    }
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 10rem;
    width: var(--project-width);
  }
  .content-item {
    h4 {
      margin-top: 0.5rem;
    }
    img {
      border-radius: 10px;
    }
  }

  .image-wrapper {
    position: relative;
    aspect-ratio: 824/564;
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;
    canvas {
      overflow: hidden;
    }
    .canvas-container {
      border-radius: var(--border-s);
    }
  }

  @media (max-width: 992px) {
    .content {
      display: block;
    }
    .content-item {
      margin-bottom: 3rem;
    }
  }
  @media (max-width: 576px) {
    .heading {
      h2 {
        padding: 1.5rem 0;
      }
    }
    .content {
      padding-top: 3rem;
    }
  }
</style>
