@keyframes hovered {
  0% {
    fill: var(--black);
  }
  100% {
    fill: var(--yellow);
  }
}

#link-hover-text {
  line-height: 100%!important;
  position: relative;
  display: inline-flex;
  padding-right: 5%;
  padding-bottom: 0.25%;
  letter-spacing: unset;
  overflow-y: hidden;
  // white-space: pre; // this value causes CLS on page load for some reason
  // vertical-align: bottom;
}

#link-hover-text[data-hide-arrow = false] {
  // padding: .25rem 0;
  position: relative;
  height: auto;
  &::after {
    content: "";
    display: grid;
    place-items: center;
    display: block;
    transition: .25s all cubic-bezier(0.34, 1.8, 0.64, 1);
    transform: translate(5%, 10.025%);
    
    width: .45em;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDYiIGhlaWdodD0iNDYiIHZpZXdCb3g9IjAgMCA0NiA0NiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM1LjA4OCA2LjU2NDIxTDguOTk3ODIgNi41NjQyMUw4Ljk5NzgyIDAuNDg3NTI4SDQ1LjQ2MjJMNDUuNDYyMiAzLjUyNTg3TDQ1LjQ2MjIgMzYuOTUxOUwzOS4zODU1IDM2Ljk1MTlMMzkuMzg1NSAxMC44NjE3TDQuNjM1ODQgNDUuNjExNEwwLjMzODMzMSA0MS4zMTM5TDM1LjA4OCA2LjU2NDIxWiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clip-path: inset(100% 100% 0% 0%);
    opacity: 0;
    scale: 0.7;
  }
}

#link-hover-text[data-hover-complete = true] {
  &::after {
    scale: 1;
    opacity: 1;
    clip-path: inset(0%);
    transform: translate(50%, -15%);
  }
}

.whitespace-character {
  width: .2em;
}

.staggered-character {
  display: inline-block;
  transform: translateY(0);
  position: relative;
  line-height: 100%;
  text-shadow: 0px 1em 0px var(--char-color);
}

  .canvas-wrapper {
    opacity: 0;
    margin: 0 auto;
  }
  .canvas-wrapper.is-visible {
    opacity: 1;
    transition: opacity 0.5s ease;
    .canvas-container {
      transform: none;
    }
  }

  .canvas-container {
    position: relative;
    width: 100%!important;
    height: 100%!important;

    cursor: pointer;
    z-index: 1;

    &:hover {
      .view-project {
        opacity: 1;
      }
    }
  }
  
  // .view-project {
  //   transform: translate(-50%, -50%);
  //   background: var(--black);
  //   color: var(--white);
  //   padding: 1rem 3rem;
  //   border-radius: var(--border-xl);
  // }

  .image-bulge-scene {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
  }

.custom-cursor {
  z-index: 10;
  opacity: 0;
  will-change: transform;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .2s opacity ease;
  background: rgba(48, 48, 48, 0.3);
  backdrop-filter: blur(37px); 
  -webkit-backdrop-filter: blur(37px); 
  color: var(--white);
  padding: 1rem 3rem;
  border-radius: var(--border-xl);
  display: grid;
  place-items: center;

  &::after {
    content: "View project";
    text-align: center;
    margin: 0 auto;
    font-family: "Allnce-Regular";
    letter-spacing: 0.05rem;
  }
}