---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout>
  <div class="center">
    <h4>404</h4>
  </div>
</Layout>

<style lang="scss">
  .center {
    display: grid;
    place-items: center;
    width: 100%;
    height: 99vh;
  }
</style>
