---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout>
  <!-- <h1 class="test"></h1> -->
  <div class="canvas-wrapper">
    <div class="canvas-container" data-texture="/assets/rm/thumbnail.png">
      <canvas class="image-bulge-scene"></canvas>
    </div>
  </div>
  <div class="canvas-wrapper">
    <div class="canvas-container" data-texture="/assets/ww/thumbnail.png">
      <canvas class="image-bulge-scene"></canvas>
    </div>
  </div>
</Layout>

<script>
  // import { animate } from "motion";

  // const clamp = (value, min, max) => {
  //   return Math.min(Math.max(value, min), max);
  // };

  // const text = document.querySelector(".test");
  // let numberValue = 0.2;

  // const animateThis = animate(
  //   (progress) => {
  //     numberValue = clamp(progress, numberValue, 1);
  //   },
  //   { duration: 1.8, easing: "ease-out", delay: 2 }
  // );
  // // show me the updated numberValue here
  // console.log(numberValue);
</script>

<style lang="scss">
  // .canvas-wrapper {
  //   opacity: 0;
  //   width: 80vw;
  //   max-width: 800px;
  //   max-height: 600px;
  //   height: 60vh;
  //   margin: 25vh auto;
  // }
  // .canvas-wrapper.is-visible {
  //   opacity: 1;
  //   transition: opacity 0.5s ease;
  //   .canvas-container {
  //     transform: none;
  //   }
  // }

  // .canvas-container {
  //   position: relative;
  //   width: 100%;
  //   height: 100%;

  //   // border-radius: 3vw;
  //   // border-radius: 50%;
  //   overflow: hidden;
  //   cursor: pointer;
  //   z-index: 1;

  //   transform: scale(0.5);
  // }

  // .image-bulge-scene {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  // }
</style>
