---
import Layout from "../layouts/BaseLayout.astro";
import Landing from "../components/homepage/landing/Landing.astro";
import ProjectContainer from "../components/homepage/ProjectContainer.astro";
import Testimonials from "../components/homepage/Testimonials.astro";
import Contact from "../components/Contact.astro";

const projectData = [
  {
    title: "Revue Moebius",
    description:
      "Literature publication house that needed a website overhaul to refresh their visual identity and accommodate their digital poetry residencies.",
    imageUrl: "/assets/rm/thumbnail.png",
    slug: "revue-moebius",
    design: true,
    development: true,
  },
  {
    title: "Eight Branches",
    description:
      "Eight Branches is a traditional Chinese medicine academy based in Toronto, Canada. Rebranded with an approachable, professional and refreshing tone.",
    imageUrl: "/assets/8b/thumbnail.png",
    slug: "eight-branches",
    design: true,
    development: true,
  },
  {
    title: "Wonder Works",
    description:
      "Wonder Works is a Roblox Metaverse gaming development studio based in Austin, Texas. Creating a playful, animated website for a younger (yet tech-savvy) demographic.",
    imageUrl: "/assets/ww/thumbnail.png",
    slug: "eight-branches",
    design: true,
    development: true,
  },
];

const seo = {};
---

<Layout seo={seo}>
  <div class="page-backdrop">
    <Landing />
    <section class="project-section">
      <header class="project-section-header">
        <div class="project-section-inner">
          <h4>Select Projects</h4>
          <div>
            <h4 class="project-length">
              {projectData.length}
            </h4>
          </div>
        </div>
      </header>
      {
        projectData.map((project) => {
          return <ProjectContainer data={project} />;
        })
      }
    </section>
    <footer class="footer-flex-wrapper">
      <div class="footer-flex-item">
        <Testimonials />
      </div>
      <div class="footer-flex-item">
        <Contact />
      </div>
    </footer>
  </div>
</Layout>

<style lang="scss">
  .page-backdrop {
    background: #e7e7e7;
    padding: 0.5rem;
  }
  .project-section {
    border-radius: var(--border-xl);
  }
  .project-section-header {
    background: var(--white);
    width: 95%;
    margin: 1.25rem auto;
    border-radius: var(--border-xl);
  }
  .project-section-inner {
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    h4 {
      // letter-spacing: -0.1rem;
      letter-spacing: 0rem;
      color: var(--grey-300);
      font-weight: 100;
    }
    .project-length {
      display: flex;
      align-items: center;
    }
    .project-length:before {
      content: "";
      background: var(--blue);
      aspect-ratio: 1/1;
      width: 13px;
      height: 13px;
      display: block;
      margin-right: 1rem;
      transform: translateY(-3px);
      border-radius: 50px;
    }
  }

  .footer-flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer-flex-item {
    width: 50%;
    overflow: hidden;
    border-radius: var(--border-xl);
    height: 90vh;
    margin: 0.5rem;
  }

  @media (max-width: 992px) {
    .footer-flex-wrapper {
      flex-direction: column;
    }
    .footer-flex-item {
      width: 100%;
      margin: 0;
    }
    .project-section-header {
      h4 {
        letter-spacing: -0.05rem;
      }

      .project-length:before {
        width: 8px;
        height: 8px;
        transform: translateY(-2px);
      }
    }
  }

  @media (max-width: 576px) {
    .page-backdrop {
      padding-top: 1rem;
    }
    .footer-flex-item {
      height: 70vh;
    }
    .project-section-header {
      border-radius: 50px;
      margin: 1rem auto;
    }
    .project-section-inner {
      padding: 1.5rem 2rem;
    }
  }
</style>
