---
import Layout from "../layouts/BaseLayout.astro";
import Landing from "../components/homepage/landing/Landing.astro";
import ProjectContainer from "../components/homepage/ProjectContainer.astro";

const projectData = [
  {
    title: "Revue Moebius",
    description:
      "Revue Moebius is a literature publication house that needed a website overhaul to refresh their visual identity and accommodate their digital poetry residencies.",
    imageUrl: "/assets/rm/thumbnail.png",
    slug: "revue-moebius",
    design: true,
    development: true,
  },
  {
    title: "Eight Branches",
    description:
      "Eight Branches is a traditional Chinese medicine academy based in Toronto, Canada. Rebranded with an approachable, professional and refreshing tone.",
    imageUrl: "/assets/8b/thumbnail.png",
    slug: "eight-branches",
    design: true,
    development: true,
  },
  {
    title: "Wonder Works",
    description:
      "Wonder Works is a Roblox Metaverse gaming development studio based in Austin, Texas. Creating a playful, animated website for a younger (but still tech-savvy!) target demographic.",
    imageUrl: "/assets/ww/thumbnail.png",
    slug: "eight-branches",
    design: true,
    development: true,
  },
];

const seo = {};
---

<Layout seo={seo}>
  <div class="bg-black">
    <Landing />
    <div class="bg-white">
      {
        projectData.map((project) => {
          return <ProjectContainer data={project} />;
        })
      }
    </div>
  </div>
</Layout>

<style lang="scss">
  .bg-black {
    background: var(--black);
  }
  .bg-white {
    background: var(--white);
    border-radius: var(--border-xl);
    padding: 3rem;
    margin: 2rem 0;
  }
</style>
