---
import Layout from "../layouts/BaseLayout.astro";
import Landing from "../components/homepage/landing/Landing.astro";
import ProjectContainer from "../components/homepage/ProjectContainer.astro";

const projectData = [
  {
    title: "Revue Moebius",
    description:
      "Revue Moebius is a literature publication house that needed a website overhaul to refresh their visual identity and accommodate their digital poetry residencies.",
    imageUrl: "/assets/rm/thumbnail.png",
    slug: "revue-moebius",
    design: true,
    development: true,
  },
  {
    title: "Eight Branches",
    description:
      "Eight Branches is a traditional Chinese medicine academy based in Toronto, Canada. Rebranded with an approachable, professional and refreshing tone.",
    imageUrl: "/assets/8b/thumbnail.png",
    slug: "eight-branches",
    design: true,
    development: true,
  },
  {
    title: "Wonder Works",
    description:
      "Wonder Works is a Roblox Metaverse gaming development studio based in Austin, Texas. Creating a playful, animated website for a younger (but still tech-savvy!) target demographic.",
    imageUrl: "/assets/ww/thumbnail.png",
    slug: "eight-branches",
    design: true,
    development: true,
  },
];

const seo = {};
---

<Layout seo={seo}>
  <Landing />
  <div class="secondary-bio-section">
    <div class="secondary-bio">
      <h4>
        I partner with clients to create websites that <br /> unlock the potential
        of the projects they service.
      </h4>
    </div>
  </div>
  <div>
    {
      projectData.map((project) => {
        return <ProjectContainer data={project} />;
      })
    }
  </div>
</Layout>
<style lang="scss">
  .secondary-bio-section {
    position: relative;
    z-index: 10;
    transform: translateY(-100px);
    padding-top: 100px;
    width: 100%;
    display: grid;
    place-items: center;
    background: linear-gradient(178.95deg, rgba(0, 0, 0, 0) 1%, #ffffff 25%);
  }
  .secondary-bio {
    display: inline-block;
    margin: 0 auto;
    padding: 5rem 7rem;
    border-radius: 150px;
    text-align: center;
    background: var(--blue);
    color: var(--white);
    h4 {
      letter-spacing: -.05rem;
      font-size: 40px;
    }
  }
</style>
