---
import Layout from "../layouts/BaseLayout.astro";
import ProcessSection from "../components/info/ProcessSection.astro";
import Contact from "../components/Contact.astro";
import ExpertiseSection from "../components/info/ExpertiseSection.astro";

const seo = {};
---

<Layout seo={seo}>
  <div class="page-backdrop">
    <section class="section">
      <header class="header-text-wrapper">
        <p class="pill" id="pill">About Me</p>
        <h2 id="header">
          As a freelance UX/UI designer and web developer, I create online
          experiences that are as unique as the projects they stand for.
        </h2>
        <p class="subheader" id="subheader">
          Throughout 5 years of professional experience working across diverse
          digital areas, I approach creative problem-solving with a holistic
          perspective, developing future-proof, scalable solutions that bring
          brands to life.
        </p>
      </header>
    </section>
    <section class="section">
      <ExpertiseSection />
    </section>
    <ProcessSection />
    <section class="section contact">
      <Contact />
      <canvas id="contact-section-canvas"></canvas>
    </section>
  </div>
</Layout>

<!-- <script src="../components/utils/threeJs/scene.js"></script> -->
<script>
  import { animate } from "motion";

  const pill = document.getElementById("pill");
  const header = document.getElementById("header");
  const subheader = document.getElementById("subheader");

  animate(
    pill,
    {
      opacity: 1,
      transform: `translateY(0px)`,
    },
    {
      easing: [0.215, 0.61, 0.355, 1],
      duration: 1.25,
    }
  );

  animate(
    header,
    {
      opacity: 1,
      transform: `translateY(0px)`,
    },
    {
      duration: 1.5,
      delay: 0.2,
      easing: [0.19, 1, 0.22, 1],
    }
  );

  animate(
    subheader,
    {
      opacity: 1,
      transform: `translateY(0px)`,
    },
    {
      easing: [0.19, 1, 0.22, 1],
      duration: 1.85,
      delay: 0.35,
    }
  );
</script>

<style lang="scss">
  #pill {
    display: inline-block;
    opacity: 0;
    transform: translateY(-40px);
  }
  #header {
    opacity: 0;
    transform: translateY(50px);
  }
  #subheader {
    opacity: 0;
    transform: translateY(50px);
  }

  .section.contact {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(139deg, #75a9f8 0%, #2997ff 100%), #3c86f4;
  }

  #contact-section-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .page-backdrop {
    background: var(--grey-100);
    padding: 0.5rem;
  }
  .section {
    border-radius: var(--border-xl);
    background: var(--white);
    padding: 5rem 0;
    margin-bottom: 1rem;
  }

  .header-text-wrapper {
    width: 95%;
    text-align: center;
    margin: 0 auto;
    padding: 4rem 0;

    .pill {
      display: inline;
      padding: 1rem 2.5rem;
      border-radius: 50px;
      background: var(--yellow);
    }
    h2 {
      margin: 3rem auto;
      margin-top: 4rem;
      max-width: 1500px;
    }
    .subheader {
      letter-spacing: -0.015rem;
      max-width: 850px;
      margin: 0rem auto;
      color: var(--grey-300);
    }
  }

  @media (max-width: 576px) {
    .header-text-wrapper {
      h2 {
        font-size: 28px;
        margin: 2rem auto;
        margin-top: 2rem;
      }
      .pill {
        padding: 0.5rem 1.5rem;
      }
    }
    .section {
      padding: 0;
    }
  }
</style>
