---
import Layout from "../layouts/BaseLayout.astro";
import ProcessSection from "../components/info/ProcessSection.astro";
import Contact from "../components/Contact.astro";

const seo = {};
---

<Layout seo={seo}>
  <div class="page-backdrop">
    <section class="section">
      <header class="header-text-wrapper">
        <p class="pill">About Me</p>
        <h2>
          As a freelance UX/UI designer and web developer, I create online
          experiences that are as unique as the projects they stand for.
        </h2>
        <p class="subheader">
          Throughout 5 years of professional experience working across diverse
          digital areas, I approach creative problem-solving with a holistic
          perspective, developing future-proof, scalable solutions that bring
          brands to life.
        </p>
      </header>
    </section>
    <section class="section">
      <div class="expertise-wrapper">
        <h1>Expertise</h1>
        <p>Here's how I can help.</p>
        <div class="card-flex">
          <div class="card card-wd">
            <div class="card-icon"><h3>WD</h3></div>
            <div>
              <h4>Web development</h4>
              <h6>
                Bringing your project to life through clean code, intuitive
                interfaces and seamless user experiences that leave a lasting
                impression.
              </h6>
            </div>
          </div>
          <div class="card card-vi">
            <div class="card-icon"><h3>VI</h3></div>
            <div>
              <h4>Visual Identity</h4>
              <h6>
                Aligning business goals with beauty. <br />Creating stunning
                online presences that resonate with audiences.
              </h6>
            </div>
          </div>
          <div class="card card-ds">
            <div class="card-icon"><h3>DS</h3></div>
            <div>
              <h4>Digital Strategy</h4>
              <h6>
                Identifying transformative possibilities for your business,
                helping you stay on top in an ever-evolving digital landscape.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </section>
    <ProcessSection />
    <section class="section contact">
      <Contact />
    </section>
  </div>
</Layout>

<style lang="scss">
  .page-backdrop {
    background: var(--grey-100);
    padding: 0.5rem;
  }
  .section {
    border-radius: var(--border-xl);
    background: var(--white);
    padding: 5rem 0;
    margin-bottom: 1rem;
  }

  .header-text-wrapper {
    width: 95%;
    text-align: center;
    margin: 0 auto;
    padding: 4rem 0;

    .pill {
      display: inline;
      padding: 1rem 2.5rem;
      border-radius: 50px;
      background: var(--yellow);
    }
    h2 {
      margin: 3rem auto;
      margin-top: 4rem;
      max-width: 1500px;
    }
    .subheader {
      max-width: 850px;
      margin: 0rem auto;
      color: var(--grey-300);
    }
  }

  .expertise-wrapper {
    text-align: center;
    p {
      color: var(--grey-300);
      margin-bottom: 6rem;
    }
  }
  .card-flex {
    display: flex;
    width: 97.5%;
    margin: 0 auto;

    .card {
      flex: 1;
      border-radius: var(--border-xl);
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      margin: 0 1rem;
      h4 {
        margin: 2rem 0;
      }
      h6 {
        max-width: 90%;
        margin: 0 auto;
      }
    }
    .card-icon {
      border-radius: 50px;
      width: 155px;
      height: 155px;
      display: grid;
      place-items: center;
      h3 {
        padding-top: 0.65rem;
      }
    }
    .card-wd {
      background: #fffdd1;
      h6 {
        color: #b6ae00;
      }
      .card-icon {
        background: linear-gradient(216deg, #f6f162 0%, #fff600 100%);
        h3 {
          background: linear-gradient(to right, #878100, #b6ae00);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }
    .card-vi {
      background: #dcffcb;
      h6 {
        color: #3db805;
      }
      .card-icon {
        background: linear-gradient(215deg, #91f662 0%, #49e700 100%);
        h3 {
          color: #dcffcb;
        }
      }
    }
    .card-ds {
      background: #ffebd3;
      h6 {
        color: #db7c0b;
      }
      .card-icon {
        background: linear-gradient(213deg, #fb9216 0%, #feb055 100%);
        h3 {
          color: #ffebd3;
        }
      }
    }
  }

  .section.contact {
    background-color: var(--blue);
  }
</style>
