---
const { text } = Astro.props;
---

<div class="wrapper">
  <div class="loop-container">
    <div class="loop-item">
      <h1 id="marquee-text">
        {" "}{text}{" "}
        {" "}{text}{" "}
      </h1>
    </div>
    <div class="loop-item">
      <h1 id="marquee-text">
        {" "}{text}{" "}
        {" "}{text}{" "}
      </h1>
    </div>
  </div>
</div>

<style lang="scss">
  .wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    height: calc(100vw / 3.4);
    width: 100%;
  }

  #marquee-text {
    opacity: 0;
    transform: translateY(20px) scaleY(4);
    transform-origin: top;
  }

  .loop-container {
    white-space: nowrap;
  }
  .loop-item {
    will-change: transform;
    position: absolute;
    top: 52%;
    padding-right: 5rem;
    #marquee-text {
      color: var(--grey-200);
      font-size: 33vw;
      line-height: 100%;
      user-select: none;
      letter-spacing: -1rem;
    }
  }

  @media (max-width: 1280px) {
    .loop-item {
      #marquee-text {
        letter-spacing: -1rem;
        font-size: 30vw;
      }
    }
  }
  @media (max-width: 768px) {
    .wrapper {
      height: calc(100vw / 2.75);
    }
    .loop-item {
      #marquee-text {
        letter-spacing: -0.75rem;
        font-size: 30vw;
      }
    }
  }
  @media (max-width: 576px) {
    .wrapper {
      height: calc(100vw / 2.5);
    }
    .loop-item {
      #marquee-text {
        letter-spacing: -0.1rem;
        font-size: 35vw;
        margin-top: 1rem;
      }
    }
  }
</style>

<script>
  import { animate } from "motion";
  const marqueeText = document.querySelectorAll("#marquee-text");

  marqueeText.forEach((text) => {
    animate(
      text,
      { opacity: 1, transform: `translateY(0) scaleY(1)` },
      {
        delay: 0.24,
        duration: 1.45,
        easing: [0.6, 0.3, 0, 1],
      }
    );
  });
</script>
