---
import Marquee from "../../Marquee.astro";
---

<div class="landing-wrapper">
  <div class="marquee-wrapper">
    <Marquee text="A.Nowacki" />
  </div>
  <div class="details-wrapper-flex">
    <small class="detail-text">
      Montreal, QC
      <br />
      <span class="weather"></span>
    </small>
    <small class="detail-text"
      >UX/UI Design <br />Web Development <br /> Brand Strategy</small
    >
    <small class="detail-text details-flex"
      ><span class="label">Socials</span>
      <span>
        <a
          id="link-hover-text"
          data-hide-arrow="true"
          href="https://www.are.na/andrew-nowacki/"
          rel="noreferrer"
          target="_blank">Are.na</a
        >
        <br />
        <a
          id="link-hover-text"
          data-hide-arrow="true"
          href="https://www.instagram.com/andrewnowacki_/"
          rel="noreferrer"
          target="_blank">Instagram</a
        >
      </span></small
    >
    <small class="detail-text details-flex"
      ><span class="label">Contact</span>
      <span>
        <a
          id="link-hover-text"
          data-hide-arrow="true"
          href="mailto:andrew.p.nowacki@gmail.com"
          rel="noreferrer"
          target="_blank">andrew.p.nowacki@gmail.com</a
        >
        <!-- <br /> -->
        <a href="sms:4388847079" id="link-hover-text" data-hide-arrow="true">
          (438) 884-7079</a
        >
      </span>
    </small>
  </div>
</div>

<style lang="scss">
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.24;
    }
    100% {
      opacity: 1;
    }
  }
  .landing-wrapper {
    width: min(100%, 2000px);
    border-radius: var(--border-xl);
    overflow: hidden;
    background: var(--white);
    position: relative;
  }
  .marquee-wrapper {
    clip-path: inset(100% 0% 0% 0%);
    overflow: hidden;
    border-radius: var(--border-l);
    background: #e7e7e7;
    height: auto;
    position: relative;
    margin: 2.5rem;
    width: auto;
  }
  .details-wrapper-flex {
    width: 90%;
    margin: 5rem auto;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .detail-text {
    flex: 25%;
    text-transform: uppercase;
    &:not(.label) {
      color: var(--grey-300);
    }
  }
  a:hover {
    // animation: blink 0.76s infinite ease-in-out;
    // transition: var(--hover-transition);
    // color: var(--grey-200);
  }
  .details-flex {
    display: flex;
    align-items: flex-start;
    .label {
      margin-right: 2rem;
      color: var(--grey-200);
    }
  }

  @media (max-width: 1280px) {
    .details-wrapper-flex {
      small {
        font-size: 12px;
      }
    }
  }
  @media (max-width: 992px) {
    .marquee-wrapper {
      margin: 1.25rem;
    }
    .details-wrapper-flex {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      margin: 4rem auto;
    }
    .detail-text {
      width: 100%;
    }
    .details-flex {
      flex-direction: column;
      .label {
        margin-right: 0;
        margin-bottom: 0.5rem;
      }
    }
  }

  @media (max-width: 576px) {
    .details-wrapper-flex {
      margin-top: 2rem;
      margin-bottom: 2rem;
      small {
        font-size: 12px;
      }
    }
  }
</style>

<script>
  import { animate } from "motion";
  const marqueeWrapper = document.querySelector(".marquee-wrapper");

  animate(
    marqueeWrapper,
    {
      clipPath: `inset(0% 0% 0% 0%)`,
    },
    {
      duration: 1.45,
      easing: [0.6, 0.3, 0, 1],
    }
  );
</script>

<script>
  // get weather
  const apiKey = import.meta.env.PUBLIC_WEATHER_API_KEY;
  const apiUrl = `https://api.openweathermap.org/data/2.5/weather?q=Montreal&units=metric&appid=${apiKey}`;

  fetch(apiUrl)
    .then((res) => res.json())
    .then((data) => {
      const weatherDescription = data.weather[0].description;
      const temperature = Math.trunc(`${data.main.temp}`);
      const weatherElement = document.querySelector(".weather");
      weatherElement.textContent = `${temperature}°C, ${weatherDescription}`;
    });
</script>
