---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
// import  { BaseHeadProps } from "../components/BaseHead.astro";

const { seo } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...seo} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <slot name="head-bottom" /> -->
  </head>
  <body>
    <main>
      <slot />
      <!-- <Navbar /> -->
    </main>
    <script src="../components/utils/BlurUp.js"></script>
    <script></script>
  </body>
</html>
