---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
// import  { BaseHeadProps } from "../components/BaseHead.astro";

const { seo } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...seo} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <slot name="head-bottom" /> -->
  </head>
  <body>
    <Navbar />
    <!-- <slot name="header" /> -->
    <main>
      <slot />
    </main>
    <!-- <slot name="footer" /> -->
    <script src="../components/utils/BlurUp.js"></script>
    <script>
      import Lenis from "@studio-freight/lenis";

      // Check if user is on macOS
      const isMacOS = navigator.userAgent.indexOf('Mac OS X') !== -1;

      if (!isMacOS) {
        const lenis = new Lenis({
          lerp: 0.1,
        });

        function raf(time) {
          lenis.raf(time);
          requestAnimationFrame(raf);
        }

        requestAnimationFrame(raf);

        // Assign the Lenis instance to a global variable
        window.lenis = lenis;
      }
      else {
          const lenis = new Lenis({
          lerp: 0.4,
        });

        function raf(time) {
          lenis.raf(time);
          requestAnimationFrame(raf);
        }

        requestAnimationFrame(raf);

        // Assign the Lenis instance to a global variable
        window.lenis = lenis;
      }
    </script>
  </body>
</html>
