---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
// import  { BaseHeadProps } from "../components/BaseHead.astro";
import Toast from "../components/Toast.astro";
const { seo } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...seo} />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <title>Andrew Nowacki</title>
    <meta property="og:title" content="Andrew Nowacki" />
    <meta
      property="og:description"
      content="Montreal-based developer, brand planner and designer helping ambitious brands and individuals appear as unique as they are."
    />
    <link rel="icon" href="https://i.imgur.com/SymgsZQ.gif" type="image/gif" />
    <meta
      name="description"
      content="Montreal-based developer, brand planner and designer helping ambitious brands and individuals appear as unique as they are."
    />
    <!-- <slot name="head-bottom" /> -->
  </head>
  <body>
    <Toast />
    <Navbar />
    <!-- <slot name="header" /> -->
    <main>
      <slot />
    </main>
    <!-- <slot name="footer" /> -->
    <script src="../components/utils/BlurUp.js"></script>
    <script src="../components/utils/linkHover.js"></script>

    <!-- <script src="../components/utils/viewProjectCursor.js"></script> -->
    <!-- <script src="../components/utils/threeJs/scene.js"></script> -->
    <!-- <script src="../components/utils/initializeApp.js"></script> -->
    <script src="../components/utils/effects/script.js"></script>
  </body>
</html>
